/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	margin: 0;
    background-color:#FFF;
}

body,
button,
input,
select,
textarea {
	font-family: 'Montserrat' 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
    display: inline-block;
    font-family: 'Montserrat' 'Helvetica', 'Arial', sans-serif;
    color: #ddca7e;
    background: #282c34;
	padding: .5em .8em;
    border-radius: .2em;
}

code, kbd, tt, var {
	font: 15px 'Montserrat' 'Helvetica', 'Arial', sans-serif;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.site {
  max-width: 80em;  
  margin: 0 auto;
  
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}


/* Header */

.masthead {
    text-align: center;
    color: #FFF;
    background-color: #153259;
    border-bottom: 3px solid #8C5A71;
    padding: 2em;
}

/* Nav------------------*/
.menu-wrap {                             /* .menu-wrap contains all parts of our responsive navigation */
	height: 3em;                       /* Set default height for navigation */
	background-color: #153259;          /* Set background color for entire navigation (useful for horizontal menu)*/
	padding: 10px 15px;                /* Set padding around navigation */
	/*position: fixed;*/               /* Uncomment out this line to lock navigation to top of window when scrolling */
	width: 100%;                       /* Have navigation fill entire horizontal space */
}
.menu-icon {
	font-size: 2em;                    /* Set size of hamburger menu icon */
	color: #fff;                   /* Set color of hamburger menu icon */

}
nav {
	position: absolute;                /* Absolute positions nav on page */
	background-color: #153259;           /* Set background color for nav (useful when nav becomes vertical)*/
	color: #fff;
	top: 3em;                        /* Add space to top of screen so links are below hamburger icon */
	padding-bottom: 10px;
	left:0;                            /* Navigation links should appear on left side of screen */
	width: 100%;                       /* Similar to .menu-wrap, nav should fill entire horizontal space */
}
nav ul {
	list-style-type: none;             /* Get rid of bullets on unordered list (navigation links) */
	max-height: 0em;                   /* Section containing navigation links should be collapsed until hamburger menu icon is toggled */
	overflow: hidden;                  /* Content of collapsed section should be hidden */
	transition: max-height 0.5s;       /* Transition between opening and closing of navigation should take 0.5 seconds */
}
nav ul li a {
	display: block;                    /* Links should be displayed as block (each link taking up its required space on a new line) */
	padding: .75em 1.75em;             /* Set padding for each navigation link */
	color: #fff;                       /* Set color for navigation links */
	text-decoration: none;             /* Get rid of underlines on navigation links */
}
nav ul li a:hover, nav ul li a:focus {
	color: #8C5A71;                       /* Change color of link when hovered over or focused on */
}
#checkbox {
	display: none;                     /* Although the checkbox functionality is needed, we don't want to see the actual checkbox */
}
#checkbox:checked ~ nav ul {
	max-height: 11em;                  /* When the checkbox is checked, expand the height of ul to reveal navigation */
}
/* desktop/large screen settings */
@media (min-width: 768px) {             /* Media Query for larger screens */
	.menu-icon {
		 display: none;                /* Hide hamburger menu icon on larger screens */
	}
	nav {
		 position: relative;
		 background-color: #153259;
		 top: -1em;                    /* Move navigation links up (as they no longer need to be below hamburger icon) */
	}
	nav ul {
		 max-height: 0.50em;           /* Adjust max-height to fit content horizontally rather than vertically */
		 padding: 5px 0;
	}
	nav ul li {
		 display: inline-block;        /* Display list items as an inline-block (on a single line) */
		 padding-left: 1em;            /* Add padding between horizontal links */
		 
	}

	nav ul li {
		color: #FFF;
	}

	nav ul li a {
		color: #fff;                       /* Set color for navigation links */
		text-decoration: none;             /* Get rid of underlines on navigation links */
	}
}
/*
.main-nav a {
    text-decoration: none;
	color: #F7FFF7;
}


.main-nav ul {
  text-align: center;
  list-style: none;
  color: #F7FFF7;
  margin: 0;
}

.main-nav ul li {
  font: sans-serif;
  font-weight: 400;
  padding: 20px 40px;
  cursor: pointer;
}

.main-nav ul li:hover {
  background: #8C5A71;
}

.main-nav ul li ul {
  padding: 0;
  position: absolute;
  top: 30px;
  left: -10000px;  
  width: 200px;
  
}

.main-nav ul li ul li {
  background: #343434;
  display: block;
}

.main-nav li ul li:hover {
  background: #8C5A71;
}

.main-nav ul li:hover ul {
  display: block;
  left: 0px;
}
*/
/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/

.cards {
	margin: 1em;
	padding: 0;
	list-style-type: none;
}

.cards a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
}

.caption {
	padding: 1em;
	background: hsla(214, 62%, 22%, .6);
	color: white;
	font-size: 1.2em;
	transition: all .4s;
}



.caption-title {
	margin: 0;
	font-size: 1.4em;
	line-height: 1.1em;
}

/*--------------------------------------------------------------
Footer:
--------------------------------------------------------------*/


footer {
	background-color: hsl(0, 0%, 20%);
	padding-top: 30px;
	padding-bottom: 30PX;
	text-align: center;
	margin-bottom: 0px;
	border-top: 3px solid #8C5A71;
}


.copyright {
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {

	@media screen and (min-width: 768px) {
        .site {
            max-width: none;
            display: grid;
            justify-content: center;
     		grid-template-areas: 
				"header header header"		
                "main main main"
                "footer footer footer";
      
		}
		
		
		.cards {
			grid-template-columns: repeat(3, 1fr);
        }
        .masthead {
            grid-area: header;
        }
        .main-area {
            grid-area: main;
        }
     
	}

	

	@media screen and (min-width: 300px) {
        .site {
            max-width: none;
            display: grid;
            justify-content: center;
			grid-template-areas: 
			"nav"
			"header"
            "main"
            "footer";
            
		}


        .masthead {
            grid-area: header;
        }
        .main-area {
            grid-area: main;
        }
		.cards {
			display: grid;
			grid-gap: 1em;
		}

		.cards a {
			margin-bottom: 0;
		}

		.card {
			display: grid;
		}

		.card img,
		.caption {
			grid-column: 1;
			grid-row: 1;
		}

		.caption {
			display: flex;
			align-items: flex-end;
			opacity: 0;
		}
        
       

        
       
    }
   /* 
    @media screen and (min-width: 60em) {
        .site {
            max-width: none;
            display: grid;
            justify-content: center;
            grid-template-areas: 
			"header header"
			"nav nav nav"
            "main main"
            "footer footer";
            
        }
        .masthead {
            grid-area: header;
        }
        .main-area {
            grid-area: main;
        }
        .cards {
			grid-template-columns: 1fr 1fr;
			grid-gap: 1em;
        }

        
    }

}